@media only screen and (min-width: 1600px) and (max-width: 1919px) {
   
   
    
}

@media only screen and (min-width: 1366px) and (max-width: 1599px) {
    
    
}

@media only screen and (min-width: 1200px)and (max-width: 1365px) {
    
}

@media only screen and (min-width: 1025px)and (max-width: 1170px) {
    .headerInner .languageLinkHolder{top: 145px;}
}

@media (max-width: 1024px){
    .nav-trigger {display: block;z-index: 1;}
    .mobile-menu {display: block;}
    .headerInner .menu {display: none;}    
    .header-container{top: 0;padding: 25px 20px;background: #ebebeb;height: 83px;}
    
    .nav-visible .header-container {position: fixed;}
    .nav-visible .header-bottom {background: #E00109;}
    .nav-visible .mob-logo {display: block;padding: 0 0 0 3px;}   
    .main-menu {width: 100%;display: none;padding-right: 0;height: auto;position: fixed;background: #ebebeb;
        top: 83px;left: 0;z-index: -1;opacity: 0;visibility: hidden;-webkit-transition: all .3s ease-in-out;-moz-transition: all .3s ease-in-out;-ms-transition: all .3s ease-in-out;-o-transition: all .3s ease-in-out;overflow: hidden;overflow-y: auto;text-align: left;}
    .nav-visible .main-menu {display: inline-block;z-index: 9999;opacity: 1;visibility: visible;max-width: 280px;padding: 0 0 20px;}
    .main-menu ul li {width: 100%;margin: 0;padding:  0;text-align: center;margin: 0px;}
    .main-menu ul {display: block;padding:  0;right: 0;left: inherit;}
    .main-menu ul li a {font-size: 25px;}
    
    .main-menu nav>ul>li:last-child {margin-left: 0;padding: 10px 35px;}
    .main-menu nav>ul>li:last-child>a {border-radius: 0;}   
    .main-menu ul li.active>a {color: #fff;}
    .main-menu ul li:hover>a {color: #fff;}
    .main-menu ul li a {position: relative;display: inline-block;color: #000;padding: 5px 10px;border: none;}    
    .main-menu ul li a:hover,.main-menu ul li.active>a {color: #fff;}     
    .main-menu ul li a img{display: none;}
    .main-menu ul li:hover > a {background: transparent;}
    
    .mobile-logo{width: 70px;position: absolute;top: 6px;left: 0;right: 0;margin: 0 auto;text-align: center;}
    .mobile-logo a{display: block;}
    .mobile-logo img{max-width: 100%;max-height: 70px;}
    .main-menu ul li a:hover, .main-menu ul li a:focus, .main-menu ul li a:active, .main-menu ul li.active > a {  border:none;}
    .mobile-menu  .social-links svg{display: inline-block;height: 16px;width: 16px;}    
    .mobile-menu .social-links {display: -webkit-box;display: -moz-box;display: -ms-flexbox;display: -webkit-flex;display: flex;-webkit-justify-content: center;-moz-justify-content: center;justify-content: center;}
    .mobile-menu .social-links a{background: #161616;border-radius: 50%;padding: 0;width: 30px;height: 30px;text-align: center;margin: 0 4px;}
    .mobile-menu .social-links svg{fill: #fff;margin-top: -11px;}
    .main-outercon.fixed .header-container{height: 62px;top: 0;}
    .main-outercon.fixed .nav-trigger{top: 23px;}
    .main-outercon.fixed .main-menu{top: 62px;}    
    .headerInner .languageLinkHolder{display: none;}    
    .mobile-menu .main-menu ul li a.active{position: relative;padding: 5px 10px;color: #fff;width: 100%;}
    .mobile-menu .main-menu ul li a.active:after{position: absolute;content: "";left: 0;top: 0;background: #000;width: 100%;height: 100%;z-index: -1;}
    .grid-boxes .grid-box-title h3 a{font-size: 30px;}
    .section-bg-block.celebrate h2{margin-left: 30px;font-size: 180%;}
    .celebrate-inner{-webkit-flex-direction: column; -ms-flex-direction: column;  flex-direction: column;}
    .section-bg-block.celebrate{padding: 20px 20px;}
/*    section.contactus h2 {font-size: 6vw;}*/
    #AccessabilityModal .modal-dialog.modal-lg {  max-width: 90%;margin: 0 auto;}
    #AccessabilityModal .modal-header .close svg{width: 40px;height: 40px;}
    .banner-content h2.photoTitle{line-height: 1;}
    .section-bg-block.menu{padding: 40px 0;}
    .section-bg-block.menu .title-div {margin: 0 0 35px;}
     .section-bg-block.menu .item-box-image{border: 4px solid rgba(255, 255, 255, 0.1);}
    #AccessabilityModal .modal-body{max-height: 80vh;overflow: auto;}
    
}


@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .phone-icon{display: none;}
    .waze-navigation{display: none;}
    .mobile-menu .languageLinkHolder{position: absolute;right: 30px;font-size: 26px;top: 20px;}
}
@media only screen and (min-width: 992px) and (max-width: 1024px) {
    .mobile-menu .languageLinkHolder{display: none; }
    
    
}
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape){
    .section-bg-block h2 {font-size: 7vw;}
    section.aboutUs .grid-boxes{padding-top: 75px;}
}




@media only screen and (min-width: 768px) and (max-width: 991px) {
    .phone-icon{display: none;}
    .waze-navigation{display: none;}
    .mobile-menu .languageLinkHolder{position: absolute;right: 30px;font-size: 26px;top: 20px;}
    .item-box{width: 33%;}
    .grid-outer{ -webkit-justify-content: space-between;-moz-justify-content: space-between;justify-content: space-between;}
    .menumoduleitem{width: 100%;}
    .tabs-list li{padding: 5px 10px 0;}
    .menumodal.tabmodal .modal-dialog {max-width: 90%;}
}

@media only screen and (max-width: 767px) {
   .iconsBoxLeft{width: 40px;}
   .iconsBoxLeft img{width: 100%;}
    .iconsBoxRight{width: 50px;}
    .iconsBoxRight img{width: 100%;}
    .nav-trigger span{width: 35px;}
    .nav-trigger{width: 35px;}
    .header-container{height: 53px;padding: 5px 20px;}
    .nav-trigger span:nth-child(3){margin-top: 3px;}
    .nav-trigger span:nth-child(2){margin-top: 7px;}
    .nav-trigger{left: 20px;top: 21px;}
    .main-outercon.fixed .header-container {height: 53px;}
    .main-outercon.fixed .nav-trigger {top: 21px;}
    .main-menu{top: 53px;}
    .main-outercon.fixed .main-menu {top: 53px;}
    .nav-visible .main-menu{max-width: 100%;}
    .main-menu ul{padding: 65px 0 0;}
    .mobile-logo{z-index: 9999;}    
    .mobile-menu .phone-icon {width: 40px;height: 40px;background: #161616;padding: 0;margin: 0;display: inline-block !important;border-radius: 50%;position: absolute;right: 20px;top: 8px;text-align: center;}
    .mobile-menu .phone-icon i{font-size: 17px;transform: rotate(90deg);-webkit-transform: rotate(90deg);-moz-transform: rotate(90deg);-ms-transform: rotate(90deg);-o-transform: rotate(90deg); }
    .mobile-menu .waze-navigation {display: inline-block !important;width: 40px;height: 40px;background: #161616;border-radius: 50%;position: absolute;top: 8px;padding: 0;right: 65px;}
    .mobile-menu .phone-icon i {color: #fff;}
    .mobile-menu .phone-icon i {color: #fff;}
    .mobile-menu .waze-navigation a {position: absolute;width: 100%;height: 100%;}
    .mobile-menu .waze-navigation svg {max-width: 30px;width: 25px;position: absolute;left: 50%;top: 50%;transform: translate(-50%, -50%);}
    .languageLinkHolder{line-height: 1;position: absolute;background: #EBEBEB;right: 25px;top: 64px;padding: 5px 11px;font-family: 'BarlowCondensedMedium';color: #161616;text-transform: uppercase;z-index: 9999;}
    
    
    .section-bg-block h2{font-size: 10vw;}
    section.aboutUs .grid-boxes .grid-box{margin-right: 0;width: 100%;padding: 30px 0 20px;}
    section.aboutUs .grid-boxes{padding-top: 55px;max-width: 100%;padding: 0 30px;}
    section.aboutUs .content-div p {line-height: 115%;font-size: 92%;}
    .celebrate-inner {-webkit-flex-direction: row;-ms-flex-direction: row;flex-direction: row;}
   .section-bg-block.celebrate h2{font-size: 130%;margin-right: 30px;}
    .celebrate-inner a{width: auto;height: 40px;font-size: 105%;padding: 0 15px;min-width: 120px;}
    .grid-item{width: 50%;border: 4px solid #000;}
    
    .section-bg-block.gallery .col-md-12.p-0{padding: 0 4% !important;}
    #map-section .map-cover{padding: 25px 29px;}
    #map-section .map-cover h4{font-size: 180%;}
    #map-section #map-holder{min-height: 350px;}
    #map-section #map-holder .overlay{height: 350px;}
    .AccessabilityLink {width: 100%;position: relative;right: auto;transform: translateY(0%);-webkit-transform: translateY(0%);-moz-transform: translateY(0%);-ms-transform: translateY(0%);-o-transform: translateY(0%);top: auto;margin-bottom: 20px;}
    
    .section-bg-block h2{font-size: 10vw;}
    .item-box{width: 33%;}
    .grid-outer{ -webkit-justify-content: space-between;-moz-justify-content: space-between;justify-content: space-between;}
    .menumoduleitem{width: 100%;min-height: 120px;}
    .panels-container{padding: 50px 20px 10px;}
    .tabs-container{padding: 10px 0 0;}
     .menumodal.tabmodal .modal-dialog {max-width: 90%;}
    .menumoduleitem .menuModuleTextItemDescription{margin: 0 0 10px;}
    .grid-boxes .grid-box-title h3 a{font-size: 24px;}
    .grid-outer .grid-box-title h3 a{font-size: 19px;}
    #AccessabilityModal h2{font-size: 27px;line-height: 1.2;}
    #AccessabilityModal .modal-content{padding: 20px 30px;}
    .accessability-list li{font-size: 20px;line-height: 1.2;margin: 0 0 8px;}
    #AccessabilityModal .modal-body p {  font-size: 17px;  line-height: 23px;}
    .single-row{-webkit-flex-direction: column; -ms-flex-direction: column;  flex-direction: column;padding: 0;}
    .left-row {width: 100%;}
    .right-row {width: 100%;}
    .form-title .dynamicFormObjectTitle{font-size: 25px;}
    #OrderformModal #subheadline h2{font-size: 38px;}
    #OrderformModal #text1 p{font-size: 16px;line-height: 21px;}
    .form-title .top-form{font-size: 15px;}
    .single-row.btndiv button[type="submit"]{max-width: 100%;}
    input[type="text"], input[type="email"], input[type="date"], input[type="tel"]{margin-bottom: 13px;font-size: 14px;}
    .single-row input[type="date"] {font-size: 14px !important;}
    ::-webkit-input-placeholder {font-size: 14px;}  
    :-moz-placeholder {font-size: 14px;}
    ::-moz-placeholder {font-size: 14px;}
    :-ms-input-placeholder {font-size: 14px;}
    #OrderformModal svg {  width: 30px;  height: 30px;}
    #OrderformModal .modal-header button.close{top: -60px;}
    #ReservationModal .modal-header button.close{left: -10px;top: -50px;}
    #ReservationModal svg {  width: 30px;  height: 30px;}
    #ReservationModal .modal-body {padding: 55px 16px 20px;}
    #ReservationModal .modal-dialog h3{font-size: 26px;}
    #ReservationModal .modal-dialog a.tel{font-size: 26px;}
}

@media only screen and (max-width: 479px) {  
    .celebrate-inner {text-align: center;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
    }
    .section-bg-block.celebrate h2{margin: 0 0 15px;}
    .item-box h3{font-size: 20px;}
    .item-box { width: 45%;}
    .grid-item .details-inner{width: 40px;height: 40px;}
    
}


